.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 140px;
    padding:10px 0px 10px 0px;
    background-color: #f8f8f8;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #eee;
    z-index: 999999;
}
