.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    text-align: center;
}