.remove-padding {
    padding: 0px;
}

.remove-margin {
    margin: 0px;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    text-align: center;
}

.gg-title-wrap {
    padding: 10px 60px;
}
.gg-intro-message {
    padding-left: 10px;
    border-left: 1px solid black;
/*
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
*/
}

.affix {
    top: 0px;
    padding: 25px 0px 25px 0px;
    background-color: #fff;
    z-index: 999999;
    width: 100%;
    border-bottom: 1px solid #eee;
}
#gg-affix-tabs {

}
#brick {
    height: 80px;
}
.gg-timeline-wrapper {
    margin-left: 250px;
}

.gg-btn-width {
    width: 180px;
}

#gg-pres-tabs {
    overflow: scroll;
    min-width: 800px;
}
.gg-hidden {
    display: none;
}

#gg-caret {
    padding: 0px 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
/*    height: 40px;*/
    padding:10px 0px 0px 0px;
    background-color: #f8f8f8;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #eee;
    z-index: 999999;
}

#gg-to-top {
    padding: 10px;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
    background-color: transparent;
}